{% import "templates/macros.njk" as macros %}

{% if hasVariableSeeds %}
export type {{ accountSeedsType }} = {
  {% for seed in seeds %}
    {% if seed.kind === 'variable' %}
      {{ macros.docblock(seed.docs) }}
      {{ seed.name | camelCase }}: {{ seed.typeManifest.looseType.render }};
    {% endif %}
  {% endfor %}
}
{% endif %}

export async function {{ findPdaFunction }}(
  {% if hasVariableSeeds %}
    seeds: {{ accountSeedsType }},
  {% endif %}
  config: { programAddress?: Address | undefined } = {},
): Promise<ProgramDerivedAddress> {
  const { programAddress = '{{ program.publicKey }}' as Address<'{{ program.publicKey }}'> } = config;
  return getProgramDerivedAddress({ programAddress, seeds: [
    {% for seed in seeds %}
      {% if seed.kind === 'programId' %}
        getAddressEncoder().encode(programAddress),
      {% elif seed.kind === 'constant' %}
        {{ seed.typeManifest.encoder.render }}.encode({{ seed.value.render }}),
      {% else %}
        {{ seed.typeManifest.encoder.render }}.encode(seeds.{{ seed.name | camelCase }}),
      {% endif %}
    {% endfor %}
  ]});
}

export async function {{ fetchFromSeedsFunction }}(
  rpc: Parameters<typeof fetchEncodedAccount>[0],
  {% if hasVariableSeeds %}
    seeds: {{ accountSeedsType }},
  {% endif %}
  config: FetchAccountConfig & { programAddress?: Address } = {},
): Promise<{{ accountType }}> {
  const { programAddress, ...fetchConfig } = config;
  const [address] = await {{ findPdaFunction }}({% if hasVariableSeeds %}seeds, {% endif %}{ programAddress });
  return {{ fetchFunction }}(rpc, address, fetchConfig);
}

export async function {{ safeFetchFromSeedsFunction }}(
  rpc: Parameters<typeof fetchEncodedAccount>[0],
  {% if hasVariableSeeds %}
    seeds: {{ accountSeedsType }},
  {% endif %}
  config: FetchAccountConfig & { programAddress?: Address } = {},
): Promise<{{ accountType }} | null> {
  const { programAddress, ...fetchConfig } = config;
  const [address] = await {{ findPdaFunction }}({% if hasVariableSeeds %}seeds, {% endif %}{ programAddress });
  return {{ safeFetchFunction }}(rpc, address, fetchConfig);
}
