{% import "templates/macros.njk" as macros %}

// Input.
export type {{ instruction.name | pascalCase }}Input
{%- if hasAccounts -%}
<
  {%- for account in accounts -%}
    {{ account.typeParam }} extends string,
  {% endfor %}
>
{% endif %}
= {
  {% for account in accounts %}
    {% if account.docs.length > 0 %}
      {{ macros.docblock(account.docs) }}
    {% endif %}
    {{ account.name | camelCase }}{{ optionalSign }}: {{ account.type }},
  {% endfor %}
}
