{% import "templates/macros.njk" as macros %}

// Output.
export type {{ instruction.name | pascalCase }}Instruction{{ 'WithSigners' if withSigners }}<
  TProgram extends string = "{{ program.publicKey }}",
  {% if hasAccounts %}
    {{ accountTypeParams }},
  {% endif %}
  TRemainingAccounts extends Array<IAccountMeta<string>> = [],
> = IInstruction<TProgram>
  {% if hasData %}
    & IInstructionWithData<Uint8Array>
  {% endif %}
  {% if hasAccounts %}
    & IInstructionWithAccounts<[{{ accountMetas }}, ...TRemainingAccounts]>
  {% else %}
    & IInstructionWithAccounts<TRemainingAccounts>
  {% endif %}
;
