{% if remainingAccounts.value.kind === 'argumentValueNode' %}
  args.{{ remainingAccounts.value.name | camelCase }}.map((address) => ({ address, role: {{ "AccountRole.WRITABLE" if remainingAccounts.isWritable else "AccountRole.READONLY" }} }))
{% elif remainingAccounts.value.kind === 'resolverValueNode' %}
  {{ awaitKeyword }}{{ nameApi.resolverFunction(remainingAccounts.value.name) }}(resolverScope)
{% endif %}
