{% import "templates/macros.njk" as macros %}

export type {{ instructionInputType }}
{%- if instruction.accounts.length > 0 -%}
<
  {%- for account in instruction.accounts -%}
    TAccount{{ account.name | pascalCase }} extends string = string,
  {% endfor %}
>
{% endif %}
= {
  {{ accountsFragment }}
  {% for dataArg in dataArgs %}
    {{ dataArg.renamedName | camelCase }}{{ dataArg.optionalSign }}: {{ dataArgsType }}["{{ dataArg.name | camelCase }}"];
  {% endfor %}
  {% for extraArg in extraArgs %}
    {{ extraArg.renamedName | camelCase }}{{ extraArg.optionalSign }}: {{ extraArgsType }}["{{ extraArg.name | camelCase }}"];
  {% endfor %}
  {{ remainingAccountsFragment }}
}
