{% import "templates/macros.njk" as macros %}

{% for error in errors | sort(false, false, 'code') %}
  {{ macros.docblock(error.docs) }}
  export const {{ getProgramErrorConstant(error.name) }} = 0x{{ error.code.toString(16) }}, // {{ error.code }}
{% endfor %}

export type {{ programErrorUnion }} =
  {% for error in errors | sort(false, false, 'code') %}
    | typeof {{ getProgramErrorConstant(error.name) }}
  {% endfor %};
