{% import "templates/macros.njk" as macros %}

{{ macros.docblock(docs) }}
export function get{{ strictName }}Decoder(): Decoder<{{ strictName }}> {
  return {{ manifest.decoder.render }} as Decoder<{{ strictName }}>;
}
