{% import "templates/macros.njk" as macros %}

{{ macros.docblock(docs) }}
export function {{ codecFunction }}(): Codec<{{ looseName }}, {{ strictName }}> {
  return combineCodec({{ encoderFunction }}(), {{ decoderFunction }}());
}
