{% import "templates/macros.njk" as macros %}

{{ macros.docblock(docs) }}
export function get{{ strictName }}Encoder(): Encoder<{{ looseName }}> {
  return {{ manifest.encoder.render }} as Encoder<{{ looseName }}>;
}