{% import "templates/macros.njk" as macros %}

{{ macros.docblock(docs) }}
export function get{{ strictName }}Decoder() {
  return {{ manifest.decoder.render }} satisfies Decoder<{{ strictName }}>;
}
