{% import "templates/macros.njk" as macros %}

{{ macros.docblock(docs) }}
export function get{{ strictName }}Codec(): Codec<{{ looseName }}, {{ strictName }}> {
  return combineCodec(get{{ strictName }}Encoder(), get{{ strictName }}Decoder());
}
