{% extends "layout.njk" %}

{% block main %}

{% for account in accountsToExport | sort(false, false, 'name') %}
  pub(crate) mod r#{{ account.name | snakeCase }};
{% endfor %}

{% for account in accountsToExport | sort(false, false, 'name') %}
  pub use self::r#{{ account.name | snakeCase }}::*;
{% endfor %}

{% endblock %}
