{% extends "layout.njk" %}

{% block main %}

{% for account in accountsToExport | sort(false, false, 'name') %}
  pub(crate) mod {{ account.name | snakeCase }};
{% endfor %}

{% for account in accountsToExport | sort(false, false, 'name') %}
  pub use self::{{ account.name | snakeCase }}::*;
{% endfor %}

{% endblock %}
