{% extends "layout.njk" %}
{% import "macros.njk" as macros %}

{% block main %}

{{ imports }}

{{ macros.docblock(account.docs) }}
{{ typeManifest.type }}

{% for nestedStruct in typeManifest.nestedStructs %}
{{ nestedStruct }}
{% endfor %}

{% if account.size !== undefined %}
impl {{ account.name | pascalCase }} {
    pub const LEN: usize = {{ account.size }};
}
{% endif %}
{% endblock %}
