{% extends "layout.njk" %}

{% block main %}

{% for definedType in definedTypesToExport | sort(false, false, 'name') %}
  pub(crate) mod r#{{ definedType.name | snakeCase }};
{% endfor %}

{% for definedType in definedTypesToExport | sort(false, false, 'name') %}
  pub use self::r#{{ definedType.name | snakeCase }}::*;
{% endfor %}

{% endblock %}
