{% extends "layout.njk" %}

{% block main %}

{% for program in programsToExport | sort(false, false, 'name') %}
pub mod {{ program.name | snakeCase }};
{% endfor %}

{% for program in programsToExport | sort(false, false, 'name') %}
pub use self::{{ program.name | snakeCase }}::{{ program.name | pascalCase }}Error;
{% endfor %}

{% endblock %}
