{% extends "layout.njk" %}

{% block main %}

use thiserror::Error;

#[derive(Clone, Debug, Eq, Error, PartialEq)]
pub enum {{ program.name | pascalCase }}Error {
{% for error in errors | sort(false, false, 'code') %}
    /// 0x{{ error.code.toString(16) }} - {{ error.message }}
    #[error("{{ error.message }}")]
    {{ error.name | pascalCase }},
{% endfor %}
}
{% endblock %}