{% extends "layout.njk" %}

{% block main %}

use solana_program::{pubkey, pubkey::Pubkey};

{% for program in programsToExport | sort(false, false, 'name') %}

  /// `{{ program.name | snakeCase }}` program ID.
  pub const {{ program.name | snakeCase | upper }}_ID: Pubkey = pubkey!("{{ program.publicKey }}");
{% endfor %}

{% endblock %}
