{% extends "layout.njk" %}

{% block main %}

{% if hasAnythingToExport %}
  {% if accountsToExport.length > 0 %}
    pub mod accounts;
  {% endif %}
  {% if programsToExport.length > 0 %}
    pub mod errors;
  {% endif %}
  {% if instructionsToExport.length > 0 %}
    pub mod instructions;
  {% endif %}
  {% if programsToExport.length > 0 %}
    pub mod programs;
  {% endif %}
  {% if definedTypesToExport.length > 0 %}
    pub mod types;
  {% endif %}
{% endif %}

{% if programsToExport.length > 0 %}
  pub(crate) use programs::*;
{% endif %}
{% endblock %}
