{% extends "layout.njk" %}
{% import "macros.njk" as macros %}

{% block main %}
{{ imports }}

{{ accountTypeFragment.render }}
{{ accountFetchHelpersFragment.render }}
{{ accountGpaHelpersFragment.render }}
{{ accountSizeHelpersFragment.render }}
{# {{ accountPdaHelpersFragment.render }} #}
{% endblock %}
