{% extends "layout.njk" %}
{% import "macros.njk" as macros %}

{% block main %}
{{ imports }}

{{ macros.docblock(definedType.docs) }}
{{ typeWithCodecFragment.render }}

{% include "definedTypesPageDataEnums.njk" %}
{% endblock %}
