{% extends "layout.njk" %}
{% import "macros.njk" as macros %}

{% block main %}
{{ imports }}

{{ instructionTypeFragment.render }}
{{ instructionDataFragment.render }}
{{ instructionFunctionLowLevelFragment.render }}
{{ instructionInputTypeFragment.render }}
{% endblock %}
