{% extends "layout.njk" %}

{% block main %}
{% for instruction in instructionsToExport | sort(false, false, 'name') %}
export * from './{{ instruction.name | camelCase }}';
{% else %}
export default {};
{% endfor %}
{% endblock %}
