{% extends "layout.njk" %}
{% import "macros.njk" as macros %}

{% block main %}
{{ imports }}

{{ instructionTypeFragment }}
{{ instructionTypeWithSignersFragment }}
{{ instructionDataFragment }}
{{ instructionExtraArgsFragment }}
{{ instructionFunctionLowLevelFragment }}
{{ instructionInputTypeFragment }}
{{ instructionInputTypeWithSignersFragment }}
{{ instructionInputAsyncTypeFragment }}
{{ instructionInputAsyncTypeWithSignersFragment }}
{{ instructionFunctionHighLevelAsyncFragment }}
{{ instructionFunctionHighLevelSyncFragment }}
{% endblock %}
