{% extends "layout.njk" %}

{% block main %}
{% for pda in pdasToExport | sort(false, false, 'name') %}
export * from './{{ pda.name | camelCase }}';
{% else %}
export default {};
{% endfor %}
{% endblock %}
