{% extends "layout.njk" %}

{% block main %}
{% if hasAnythingToExport %}
  {% if accountsToExport.length > 0 %}
    export * from './accounts';
  {% endif %}
  {% if programsToExport.length > 0 %}
    export * from './errors';
  {% endif %}
  {% if instructionsToExport.length > 0 %}
    export * from './instructions';
  {% endif %}
  {% if programsToExport.length > 0 %}
    export * from './programs';
  {% endif %}
  export * from './shared';
  {% if definedTypesToExport.length > 0 %}
    export * from './types';
  {% endif %}
{% else %}
export default {};
{% endif %}
{% endblock %}
