{% extends "layout.njk" %}

{% block main %}
{% for account in accountsToExport | sort(false, false, 'name') %}
export * from './{{ account.name | camelCase }}';
{% else %}
export default {};
{% endfor %}
{% endblock %}
