{% extends "layout.njk" %}

{% block main %}
{% for account in accountsToExport | sort(false, false, 'name') %}
export * from './{{ account.name | camelCase }}';
{% endfor %}
{% for pda in orphanPdasToExport | sort(false, false, 'name') %}
export * from './{{ pda.name | camelCase }}';
{% endfor %}
{% if accountsToExport.length == 0 and orphanPdasToExport.length == 0 %}
export default {};
{% endif %}
{% for programName in programsWithAccountDiscriminators %}
export * from './{{ programName }}Helpers';
{% endfor %}
{% endblock %}
