{% extends "layout.njk" %}
{% import "macros.njk" as macros %}

{% block main %}
{{ macros.imports(imports) }}

{{ macros.docblock(docs) }}
{{ macros.exportType(name, typeDefinition) }}

{{ macros.exportSerializer(name, serializer) }}
{% endblock %}
