{% extends "layout.njk" %}
{% import "macros.njk" as macros %}

{% block main %}
{{ imports }}

{{ macros.docblock(definedType.docs) }}
{{ macros.exportType(name, name + 'Args', typeManifest) }}

{{ macros.exportSerializer(name, name + 'Args', typeManifest) }}

{% include "definedTypesPageDataEnums.njk" %}
{% endblock %}
