{% extends "layout.njk" %}
{% import "macros.njk" as macros %}

{% block main %}
{{ imports }}

{{ macros.docblock(definedType.docs) }}
{{ macros.exportType(definedType.name | pascalCase, typeManifest) }}

{{ macros.exportSerializer(definedType.name | pascalCase, typeManifest) }}

{% include "definedTypesPageDataEnums.njk" %}
{% endblock %}
