{% extends "layout.njk" %}
{% import "macros.njk" as macros %}

{% block main %}
{{ macros.imports(typeDefinition.imports, { types: '.' }) }}

{{ macros.docblock(docs) }}
{{ macros.exportType(name, typeDefinition) }}
{% endblock %}
