{% if instruction.hasData %}
// Arguments.
{{ macros.exportType(instruction.name | pascalCase + 'InstructionData', instruction.name | pascalCase + 'InstructionDataArgs', typeManifest) }}

{{ macros.exportSerializer(instruction.name | pascalCase + 'InstructionData', instruction.name | pascalCase + 'InstructionDataArgs', typeManifest) }}

{% endif %}