{% set remaining = instruction.remainingAccounts %}
{% if remaining.kind === 'arg' %}
  // Remaining Accounts.
  const remainingAccounts = {{ argsObj }}.{{ remaining.name }}.map(address => ([address, {{ "true" if remaining.isWritable else "false" }}]));
  for (const remainingAccount in remainingAccounts) {
    addAccountMeta(keys, signers, remainingAccount, false);
  }
{% elif remaining.kind === 'resolver' %}
  // Remaining Accounts.
  const remainingAccounts = {{ remaining.name | camelCase }}(context, resolvedAccounts, resolvedArgs, programId);
  for (const remainingAccount in remainingAccounts) {
    addAccountMeta(keys, signers, remainingAccount, false);
  }
{% endif %}
