{% extends "layout.njk" %}
{% import "macros.njk" as macros %}

{% block main %}
{{ macros.imports(imports) }}

{% if accounts.length > 0 %}
// Accounts.
export type {{ name }}InstructionAccounts = {
{% for account in accounts %}
{% if account.isOptionalSigner %}
{% set accountType = 'PublicKey | Signer' %}
{% elif account.isSigner %}
{% set accountType = 'Signer' %}
{% else %}
{% set accountType = 'PublicKey' %}
{% endif %}
{% if account.isOptional %}
  {{ account.name }}?: {{ accountType }};
{% else %}
  {{ account.name }}: {{ accountType }};
{% endif %}
{% endfor %}
};
{% endif %}

// Arguments.
{{ macros.exportType(name + 'InstructionArgs', argsTypeDefinition) }}

// Arguments Serializer.
{{ macros.exportSerializer(name + 'InstructionArgs', argsSerializer) }}
{% endblock %}
