{% if hasAccounts %}
// Accounts.
export type {{ instruction.name | pascalCase }}InstructionAccounts = {
{% for account in accounts %}
  {% if account.docs.length > 0 %}
    {{ macros.docblock(account.docs) }}
  {% endif %}
  {{ account.name | camelCase }}{{ account.optionalSign }}: {{ account.type }};
{% endfor %}
};

{% endif %}