{% set remaining = instruction.remainingAccounts %}
{% macro getArgVar(name, argsObj) -%}
  {{ 'resolvedArgs' if argsWithDefaults.includes(name) else argsObj }}.{{ name | camelCase }}
{%- endmacro %}

{% if remaining.kind === 'arg' %}
  // Remaining Accounts.
  const remainingAccounts = resolvedArgs.{{ remaining.name | camelCase }}.map((value, index) => ({ index, value, isWritable: {{ "true" if remaining.isWritable else "false" }} }));
  addAccountMetas(keys, signers, remainingAccounts, {{ instruction.optionalAccountStrategy }});
{% elif remaining.kind === 'resolver' %}
  // Remaining Accounts.
  const remainingAccounts = {{ remaining.name | camelCase }}(context, resolvedAccounts, resolvedArgs, programId);
  addAccountMetas(keys, signers, remainingAccounts, {{ instruction.optionalAccountStrategy }});
{% endif %}
