{% extends "layout.njk" %}
{% import "macros.njk" as macros %}

{% block main %}
{{ imports }}

{% include "instructionsPageAccounts.njk" %}
{% include "instructionsPageArgs.njk" %}

// Instruction.
export function {{ camelCaseName }}(
  context: {
    serializer: Context['serializer'];
    {{- 'eddsa: Context[\'eddsa\'];' if needsEddsa else '' }}
    {{- 'identity: Context[\'identity\'];' if needsIdentity else '' }}
    {{- 'payer: Context[\'payer\'];' if needsPayer else '' }}
    programs?: Context['programs'];
  },
  {% if canMergeAccountsAndArgs %}
    {% set accountsObj = 'input' %}
    {% set argsObj = 'input' %}
    {% if instruction.hasAccounts and instruction.hasArgs %}
      input: {{ name }}InstructionAccounts & {{ name + 'InstructionArgs' if typeManifest.hasLooseType else name + 'InstructionData' }},
    {% elif instruction.hasAccounts %}
      input: {{ name }}InstructionAccounts,
    {% elif instruction.hasArgs %}
      input: {{ name + 'InstructionArgs' if typeManifest.hasLooseType else name + 'InstructionData' }},
    {% endif %}
  {% else %}
    {% set accountsObj = 'accounts' %}
    {% set argsObj = 'args' %}
    {% if instruction.hasAccounts %}
      accounts: {{ name }}InstructionAccounts,
    {% endif %}
    {% if instruction.hasArgs %}
      args: {{ name + 'InstructionArgs' if typeManifest.hasLooseType else name + 'InstructionData' }},
    {% endif %}
  {% endif %}
): WrappedInstruction {
  const signers: Signer[] = [];
  const keys: AccountMeta[] = [];

  // Program ID.
  const programId: PublicKey = getProgramAddressWithFallback(context, '{{ program.metadata.name }}', '{{ program.metadata.address }}');

  {% include "instructionsPageAccountMetas.njk" -%}

  // Data.
  {% if instruction.hasArgs %}
    const data = get{{ name }}InstructionDataSerializer(context).serialize({{ argsObj }});
  {% elif instruction.hasData %}
    const data = get{{ name }}InstructionDataSerializer(context).serialize({});
  {% else %}
    const data = new Uint8Array();
  {% endif %}

  // Bytes Created On Chain.
  {% set bytes = instruction.metadata.bytesCreatedOnChain %}
  {% if bytes.kind === 'number' %}
    const bytesCreatedOnChain = {{ bytes.value }}{% if bytes.includeHeader %} + ACCOUNT_HEADER_SIZE{% endif %};
  {% elif bytes.kind === 'arg' %}
    const bytesCreatedOnChain = Number({{ argsObj }}.{{ bytes.name }}){% if bytes.includeHeader %} + ACCOUNT_HEADER_SIZE{% endif %};
  {% elif bytes.kind === 'account' %}
    const bytesCreatedOnChain = (get{{ bytes.name | capitalize }}Size(context) ?? 0){% if bytes.includeHeader %} + ACCOUNT_HEADER_SIZE{% endif %};
  {% else %}
    const bytesCreatedOnChain = 0;
  {% endif %}

  return { instruction: { keys, programId, data }, signers, bytesCreatedOnChain };
}
{% endblock %}
