{% if instruction.hasDiscriminator %}
// Discriminator.
{{ macros.exportType(name + 'InstructionDiscriminator', discriminatorTypeDefinition) -}}
export function get{{ name }}InstructionDiscriminator(): {{ name }}InstructionDiscriminator {
  return {{ instruction.discriminator.value }};
}

{% endif %}