{% for account in accounts %}
  {% set isWritableString = 'true' if account.isWritable else 'false' %}
  // {{ account.name | camelCase | titleCase }}{% if account.resolvedIsOptional %} (optional){% endif %}.
  {% if account.resolvedIsOptional %}
  if ({{ account.name | camelCase }}Account) {
  {% endif %}
    {% if account.resolvedIsSigner === 'either' %}
      if (isSigner({{ account.name | camelCase }}Account)) {
        signers.push({{ account.name | camelCase }}Account);
      }
      keys.push({ pubkey: publicKey({{ account.name | camelCase }}Account), isSigner: isSigner({{ account.name | camelCase }}Account), isWritable: isWritable({{ account.name | camelCase }}Account, {{ isWritableString }}) });
    {% elif account.resolvedIsSigner  %}
      signers.push({{ account.name | camelCase }}Account);
      keys.push({ pubkey: {{ account.name | camelCase }}Account.publicKey, isSigner: true, isWritable: isWritable({{ account.name | camelCase }}Account, {{ isWritableString }}) });
    {% else %}
      keys.push({ pubkey: {{ account.name | camelCase }}Account, isSigner: false, isWritable: isWritable({{ account.name | camelCase }}Account, {{ isWritableString }}) });
    {% endif %}
  {% if account.resolvedIsOptional %}
  }
  {% endif %}

{% endfor %}