{% if resolvedInputs.length > 0 or hasResolvedAccounts or hasResolvedArgs %}
  // Resolved inputs.
  {% if hasResolvedAccounts %}
    const resolvedAccounts = {
      {% for account in accounts %}
        {{ account.name | camelCase }}: { index: {{ loop.index0 }}, isWritable: {{ 'true' if account.isWritable else 'false' }} as boolean, value: {{ accountsObj }}.{{ account.name | camelCase }} ?? null },
      {% endfor %}
    } satisfies ResolvedAccountsWithIndices;
  {% endif %}
  {% if hasResolvedArgs %}
    const resolvedArgs = { ...{{ argsObj }} };
  {% endif %}
  {% for input in resolvedInputsWithDefaults %}
    {#- Input default value. -#}
    {% if input.defaultsTo.kind === 'account' and input.kind === 'account' %}
      {% set inputDefault %}resolvedAccounts.{{ input.defaultsTo.name }}.value{% endset %}
    {% elif input.defaultsTo.kind === 'account' %}
      {% set inputDefault %}publicKey(resolvedAccounts.{{ input.defaultsTo.name }}.value, false){% endset %}
    {% elif input.defaultsTo.kind === 'pda' %}
      {% set inputDefault -%}
        find{{ input.defaultsTo.pdaAccount | pascalCase }}Pda(context,
          {%- if (input.defaultsTo.seeds | length) > 0 -%}
            {
              {%- for seedKey, seedValue in input.defaultsTo.seeds -%}
                {%- if seedValue.kind === 'value' -%}
                  {{ seedKey }}: {{ seedValue.render }},
                {%- elif seedValue.kind === 'account' -%}
                  {{ seedKey }}: publicKey(resolvedAccounts.{{ seedValue.name }}.value, false),
                {%- else -%}
                  {{ seedKey }}: resolvedArgs.{{ seedValue.name }},
                {%- endif -%}
              {%- endfor -%}
            }
          {%- endif -%}
        )
      {%- endset %}
    {% elif input.defaultsTo.kind === 'publicKey' %}
      {% set inputDefault %}publicKey('{{ input.defaultsTo.publicKey }}'){% endset %}
    {% elif input.defaultsTo.kind === 'program' %}
      {% set inputDefault %}context.programs.getPublicKey('{{ input.defaultsTo.program.name }}', '{{ input.defaultsTo.program.publicKey }}'){% endset %}
      {% set inputDefaultIsWritable %}false{% endset %}
    {% elif input.defaultsTo.kind === 'programId' %}
      {% set inputDefault %}programId{% endset %}
      {% set inputDefaultIsWritable %}false{% endset %}
    {% elif input.defaultsTo.kind === 'identity' and input.kind === 'account' and input.isSigner !== false %}
      {% set inputDefault %}context.identity{% endset %}
    {% elif input.defaultsTo.kind === 'identity' %}
      {% set inputDefault %}context.identity.publicKey{% endset %}
    {% elif input.defaultsTo.kind === 'payer' and input.kind === 'account' and input.isSigner !== false %}
      {% set inputDefault %}context.payer{% endset %}
    {% elif input.defaultsTo.kind === 'payer' %}
      {% set inputDefault %}context.payer.publicKey{% endset %}
    {% elif input.defaultsTo.kind === 'arg' %}
      {% set inputDefault %}resolvedArgs.{{ input.defaultsTo.name }}{% endset %}
    {% elif input.defaultsTo.kind === 'accountBump' %}
      {% set inputDefault %}resolvedAccounts.{{ input.defaultsTo.name }}.value[1]{% endset %}
    {% elif input.defaultsTo.kind === 'value' %}
      {% set inputDefault %}{{ input.defaultsTo.render }}{% endset %}
    {% elif input.defaultsTo.kind === 'resolver' %}
      {% set inputDefault %}{{ input.defaultsTo.name | camelCase }}(context, resolvedAccounts, resolvedArgs, programId, {{ 'true' if input.isWritable else 'false' }}){% endset %}
    {% else %}
      {% set inputDefault %}programId /* Unrecognized default kind [{{ input.defaultsTo.kind }}]. */{% endset %}
      {% set inputDefaultIsWritable %}false{% endset %}
    {% endif %}
    {# Add input to resolving object. #}
    {%- if input.kind === 'account' and input.defaultsTo.kind === 'resolver' %}
      if (!resolvedAccounts.{{ input.name | camelCase }}.value) {
        resolvedAccounts.{{ input.name | camelCase }} = { ...resolvedAccounts.{{ input.name | camelCase }}, ...{{ inputDefault }} };
      }
    {% elif input.kind === 'account' %}
      if (!resolvedAccounts.{{ input.name | camelCase }}.value) {
        resolvedAccounts.{{ input.name | camelCase }}.value = {{ inputDefault }};
        {% if inputDefaultIsWritable -%} 
          resolvedAccounts.{{ input.name | camelCase }}.isWritable = {{ inputDefaultIsWritable }};
        {% endif %} 
      }
    {% else %}
      if (!resolvedArgs.{{ input.name | camelCase }}) {
        resolvedArgs.{{ input.name | camelCase }} = {{ inputDefault }};
      }
    {% endif -%}
  {% endfor %}
{% endif %}
