{% if instruction.hasDiscriminator %}
// Discriminator.
{{ macros.exportType(name + 'InstructionDiscriminator', discriminatorTypeDefinition) -}}
export function get{{ name }}InstructionDiscriminator(): {{ name }}InstructionDiscriminator {
  return {{ JSON.stringify(instruction.discriminator.value) }};
}

{% endif %}