{% extends "layout.njk" %}
{% import "macros.njk" as macros %}

{% block main %}
{{ macros.imports(imports) }}

export function get{{ pascalCaseName }}Program(context: Pick<Context, 'eddsa'>): Program {
  return {
    name: '{{ program.metadata.name }}',
    address: context.eddsa.createPublicKey('{{ program.metadata.address }}'),
  };
}
{% endblock %}
