{% extends "layout.njk" %}
{% import "macros.njk" as macros %}

{% block main %}
{{ macros.imports(imports) }}

{{ macros.docblock(program.docs) }}
export function get{{ pascalCaseName }}Program(context: Pick<Context, 'eddsa'>): Program {
  return {
    name: '{{ program.metadata.name }}',
    address: publicKey('{{ program.metadata.address }}'),
    getErrorFromCode(code: number, cause?: Error) {
      return get{{ pascalCaseName }}ErrorFromCode(code, this, cause);
    },
    getErrorFromName(name: string, cause?: Error) {
      return get{{ pascalCaseName }}ErrorFromName(name, this, cause);
    },
    isOnCluster() {
      return true;
    },
  };
}
{% endblock %}
